*{box-sizing:border-box;font-family:Arial}
body{
background:#0f172a;
color:#fff;
display:flex;
justify-content:center;
padding-top:50px
}
.container{
background:#0760ef;
padding:20px;
border-radius:10px;
width:400px
}
h1{text-align:center;margin-bottom:15px}
form{display:flex;gap:5px;margin-bottom:10px}
input,button,select{
padding:8px;
border-radius:5px;
border:none
}
button{background:#6366f1;color:#fff;cursor:pointer}
select{width:100%;margin-bottom:10px}
.todo{
background:#334155;
margin:5px 0;
padding:10px;
display:flex;
justify-content:space-between;
border-radius:5px
}
.completed{
text-decoration:line-through;
opacity:.6
}
